<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="allfile" xsi:type="File"
                fileName="logs/${shortdate}.log"
                encoding="utf-8" />
	</targets>
	<rules>
		<logger name="Microsoft.Hosting.*" minlevel="Info" writeTo="allfile" />
		<logger name="Keisoft.IM.Http.*" minlevel="Info" writeTo="allfile" />
		<logger name="*" minlevel="Error" writeTo="allfile" />
	</rules>
</nlog>